<!--part-3-->
<div class="part-3">
  <div class="part3-details-main">

    <div class="part3-details">
      <a routerLink="/" routerLinkActive="list-item-active" [routerLinkActiveOptions]="{ exact:true }">
        <div class="part3-icon">
          <span><i class="fas fa-home"></i></span>
<!--          <img src="/assets/brand/orajon-o.png" alt="">-->
        </div>
        <div class="part3-text">
          <h5>Home</h5>
        </div>
      </a>
    </div>

    <div class="part3-details">
      <a routerLink="/account/order-list" routerLinkActive="list-item-active" [routerLinkActiveOptions]="{ exact:true }">
        <div class="part3-icon">
          <span><i class="fas fa-calendar-check"></i></span>
        </div>
        <div class="part3-text">
          <h5>Tickets</h5>
        </div>
      </a>
    </div>

    <div class="part3-details">
      <a routerLink="/blog" routerLinkActive="list-item-active" [routerLinkActiveOptions]="{ exact:true }">
        <div class="part3-icon">
          <span><i class="fas fa-rss"></i></span>
        </div>
        <div class="part3-text">
          <h5>News & Info</h5>
        </div>
      </a>
    </div>

    <div class="part3-details">
      <a routerLink="/account" routerLinkActive="list-item-active" [routerLinkActiveOptions]="{ exact:true }">
        <div class="part3-icon">
          <span><i class="fa fa-user"></i></span>
        </div>
        <div class="part3-text">
          <h5>Account</h5>
        </div>
      </a>
    </div>

  </div>
</div> <!--part-3-end-->
