<!---card-->
<div class="card" routerLink="/product-details">
    <!---card-img-->
    <div class="card-img">
        <img src="/assets/images/image/039b6635-city-26939-16547ad1af4.jpg" >
        <div class="wish-btn">
            <span><i class="fa fa-heart"></i></span>
        </div>
    </div>
    <!---card-body-->
    <div class="card-body">
        <!---card-title-->
        <div class="card-title">
            <a >Package Title</a>
        </div>
        <!---rating-->
        <div class="rating">
            <ul>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <!---review-->
            <div class="review">
                <span>0 reviews</span>
            </div>
        </div>
        <!---card-bottom-->
        <div class="card-bottom">
            <!---days-->
            <div class="day">
            <div>
                <i class="fa fa-clock"></i>
                </div>
                <div>
                    <span>4 Nights & 5 Days</span>
                </div>
            </div>
            <!---price-->
            <div class="price">
            <div>
                <img src="./assets/images/image/boost.png" alt="">
                <span> from</span>
            </div>
            <div>
                <h3>BDT 1000</h3>
            </div>
            </div>
        </div>

    </div>
</div><!---card-end-->
