@import "../../../../theme/variables";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/**
* TOP VIEW
 */
.top-view {
  width: 100%;
  min-height: 140px;
  background: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .logo-thumb {
    width: 100%;
    height: auto;
    text-align: center;
    img {
      width: 120px;
      height: auto;
    }

  }

  .action {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    gap: 5px;

    .icon-btn-big {
      background: #003c77;
      color: #FFFFFF;
      // font-weight: bold;
      font-size: 18px;
      font-family: $nexa-bold;
      gap: 8px;

      mat-icon {
        color: $color-primary;
      }
    }

  }
}

// ## RESET SOME MATERIAL DEFAULT CSS
:host ::ng-deep .list-item-sidenav .mat-list-item-content {
  padding: 0 16px !important;
}

:host ::ng-deep .list-item-sidenav .mat-list-item {
  height: 45px !important;
}

mat-nav-list {
  mat-icon {
    color: $list-text-color;
  }

  .sidenav-link-title {
    display: inline-block;
    margin-left: 16px;
    color: $list-text-color;
    font-family: $nexa-light;
    font-weight: 600;
    font-size: $list-text-size;
  }

  .list-item {
    &:hover {
      background: $list-hover-color;
    }
  }

  .icon-right {
    margin-left: auto;
  }
}

// ## Active List Link
.list-item-active {
  font-weight: 900;
  background-color: $list-hover-color;
}


// ## FOOTER
.footer {
  width: 100%;
  margin-top: 25px;

  p {
    text-align: center;
    font-size: 13.5px;
    font-family: $nexa-light;
    color: $list-text-color;
    margin-top: 25px;
  }

  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .company-link {
    margin: 8px 0;
    width: 100%;
    text-align: center;

    a {
      text-decoration: none;
      color: $color-primary;
      font-family: $nexa-light;
      font-weight: 600;
      font-size: 13.5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.btn.active {
  background-color: $color-primary;
  color: #FFFFFF;
  font-weight: bold;
  border-right: none;
}

.btn {
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  color: #A8A8A8;
  font-size: 15px;
  cursor: pointer;
  padding-left: 8px;
  border: 1px solid #2AB3FC;

  img {
    width: 25px;
    margin-right: 8px;
  }

}


//.menu-button {
//  transition: 300ms ease-in-out;
//  transform: rotate(0deg);
//}
//.menu-button.rotated {
//  transform: rotate(180deg);
//}
//.submenu {
//  display: none;
//  overflow-y: hidden;
//  transition: transform 300ms ease;
//  transform: scaleY(0);
//  transform-origin: top;
//  padding-left: 12px;
//}
//.submenu.expanded {
//  display: block;
//  transform: scaleY(1);
//}
