<!---comming-soon-area-->
<div class="cooming-soon-area">
    <!---comming-img-->
    <div class="comming-img">
        <img src="./assets/images/image/1484806269-plane-getty.jpg" alt="">
    </div>
    <!--comming-info-->
    <div class="banner-info">
        <div class="banner-main">
            <!---banner-title-->
        <div class="banner-title">
            <h1>Assalamu Alaikum</h1>
            <h2>We Are Comming...</h2>
        </div>
        <!----store-btn-->
        <div class="store-btn">
            <ul>
                <li><a href="#"><img src="./../../../assets/images/image/Group 6711df0.png" alt=""></a></li>
                <li><a href="#"><img src="./../../../assets/images/image/Group-67110.png" alt=""></a></li>
            </ul>
        </div>
        </div>
    </div>
</div>
