@import "./../../../theme/varriable";
/**** section6 ****/
.section6{
  display: block;
  width: 100%;
  margin: 20px 0px 50px 0px;
  box-sizing: border-box;
}
.section6-title{
  display: block;
  margin-bottom: 45px;
  text-align: center;
}
.section6-title h3{
  color: #fff;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  display: block;
  line-height: 40px;
  margin-bottom: 10px!important;
}
.section6-title p{
  display: block;
  color: #a79bb2!important;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}
@media(max-width:450px){
  section6-title h3{
      font-size: 26px;
      line-height: 36px;
      margin-bottom: 10px!important;
  }
  .section6-title p{
      font-size: 17px;
      line-height: 24px;
  }
}
/**** section6-main ****/
.section6-main{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  grid-template-rows: auto;
}
@media(max-width: 1398px){
  .section6-main{
    grid-template-columns: repeat(4, 1fr);
  }
}
.trending-card{
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // height: 100px;
  flex-basis: 50%;
  // overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 0px grey;
  transition: all .2s ease;

     &:hover{
      transform: scale(1.1);
      z-index: 1;
      transition: all .2s ease;
     }
}
.trending-card-img{
  display: block;
  width: 100%;
}
.trending-card-img img{
  width: 100%;
  object-fit: cover;
  // object-position: left center;
  // min-height: 100px;
  border-radius: 5px;
}
.trending-card-text{
  display: block;
  width: 100%;
  padding: 10px 8px 8px 8px;
  box-sizing: border-box;
  position: absolute;
  background-color: #0e0e0e99;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trending-card-text span{
  color: #f8f5f5!important;
  font-family: $font-en-primary;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 2px;
  line-height: 17px;
  text-transform: uppercase;
  display: block;
}
.trending-card-text a{
  color: rgb(240, 239, 239);
  font-family: $font-en-primary;
  font-weight: 600;
  font-size: 25px;
  line-height: 23px;
  display: block;
  text-transform: uppercase;
  transition: all 0.3s linear;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}
@media(min-width:1000px) and (max-width:1100px){
  .section6-main{
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width:930px){
  .section6-main{
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width:600px){
  .section6-main{
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width:468px){
  .section6-main{
      grid-template-columns: repeat(1, 1fr);
  }
}



