@import "./../../../../theme/varriable";

.container-fluid {
  width: 100%;
  max-width: 1340px;
  margin: 30px auto 0 auto;
  padding: 16px 0;
  min-height: 700px;
}

.side-bar {
  width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-height: 400px;

  .profile-view {

    .img-thumb {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      border: 1px solid #cbcbcb;

      &:hover {
        .edit-profile-img {
          visibility: visible;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .edit-profile-img {
        visibility: hidden;
        background: #0000006b;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 100px;
        display: grid;
        place-items: center;
        transition: visibility 0.2s;
      }
    }

    .desc {
      text-align: center;
      padding: 15px 10px;

      h2 {
        font-family: $segoe_ui_bold;
        color: #EDF2F7;
      }

       p{
         font-family: $segoe_ui_regular;
         color: #EDF2F7;
       }
    }
  }


  .nav-link {
    padding: 15px 0;

    ul {
      list-style: none;

      li {
        padding: 10px 16px;
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:hover {
          background: #00A1D7;
        }

        mat-icon {
          font-size: 24px;
          color: #EDF2F7;
        }

        span {
          font-size: 16px;
          font-family: $font-en-primary;
          color: #EDF2F7;
        }
      }
    }
  }
}

.content-view {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // min-height: 400px;
  padding: 16px;
}

.active-list {
  background: #00A1D7;
}


@media only screen and (max-device-width: 599px) {

  .side-bar {
    width: 92%;
    margin: 0 auto;
    .profile-view {

      // TODO

      .img-thumb {
       // TODO

        img {
          // TODO
        }
      }

      .desc {
        // TODO

        h2 {
          // TODO
        }

        p{
          // TODO
        }
      }
    }
  }

}

@media(max-width:595px){
  .side-bar{
    width: 100%!important;
  }
}
