<!-- <div class="view" [class.show-cookie]="!hidePopup" *ngIf="popupOffer">
    <div class="txt">
     <img src="{{popupOffer? popupOffer.image : popupOffer.title}}">
    </div>
    <div class="action">
      <button mat-button routerLink="{{popupOffer.routerLink}}">
        <mat-icon>cookie</mat-icon>
        View More
      </button> -->
<!--    <a mat-button routerLink="/pages/cookies-terms">-->
  <!--      Read Cookie Policy-->
  <!--    </a>-->
   <!--  </div> -->
<!--   </div> -->
<div >
  <div class="dialogclosebtn"  >
    <button>X</button>
  </div>

<div style="position: relative;"  >
<img width="100%" height="auto"  src="/assets/images/image/0efcd7ef-city-9880-1606b631185.jpg" alt="OfferImage">
  <div class="view-more-btn" >
    <button [routerLink]="['/offers']" >View More</button>
  </div>
</div>
</div>
