<div class="section5-left">
  <!-- <div class="container"> -->
  <!--blog-info-->
    <!-- <a href="#"> -->
      <div class="blog-info">
        <div class="blog-img">
          <img [src]="country?.images ? country?.images[0] : './assets/images/image/special offer.jpg'" alt="" />
        </div>
        <!---blog-text-->
        <div class="blog-text-first">
          <div class="blog-text-first-content">
            <h3>{{country?.trendingPlaceName}}</h3>
          </div>
        </div>
      </div>
    <!-- </a> -->
    <!-- </div> -->
</div>

<div class="section5-left">
  <div class="container">
  <!--blog-info-->
      <div class="blog-info-bottom" [innerHTML]="country?.description | safeHtmlCustom">
      </div>
    </div>
</div>
