<!---travel-details-area-->
<div class="travel-details-area">
    <div class="container">
        <div class="travel-details-main">
            <!---travel-img-->
            <div class="travel-img">
                <img [src]="[travelDetails?.images[0]]" alt="travel-images">

            </div>
            <div class="travel-info">
                <h3>{{travelDetails?.recomamdedDestinationName}}</h3>
                <p>{{travelDetails?.description}}</p>
            </div>
        </div>
    </div>
</div>
