
.container {
  padding: 40px 0;
}


.form-container {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  //min-height: 16vh;

  form {

    mat-form-field {
      width: 100%;
    }
    button {
      ::ng-deep {
        span {
          color: #FFFFFF;
        }
      }
    }
  }
}

/**
RESPONSIVE
 */

@media only screen and (max-width: 599px) {
  .form-container {
    padding: 0 12px;
  }
}

.w-100 mat-label{
  color: #ffff;
}
.w-100 mat-icon{
  color: #fff;
}
.w-100 input{
  color: #fff;
}
::placeholder{
  color: #777;
}
::ng-deep.w-100.mat-form-field-appearance-outline .mat-form-field-outline-thick{
  color: #fff;
}
::ng-deep.w-100.mat-form-field-appearance-outline .mat-form-field-outline{
  color: #fff;
}

::ng-deep.w-100.mat-form-field-appearance-outline .mat-form-field-outline-thick{
  color: #fff;
}
::ng-deep.w-100.mat-form-field-appearance-outline .mat-form-field-outline{
  color: #fff;
}
